<div class=" min-h-screen bg-black p-4">
    <div class=" text-center">
      <div class="w-full">
        <div class="overflow-x-auto bg-base-200">
            <table class="table table-zebra">

              <thead>
                <tr>
                  <th>Nom et prénom</th>
                  <th>Job</th>
                  <th>Favorite Color</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of table.data | paginate: { itemsPerPage: tablereq.resultsPerPage, currentPage:  table.page, totalItems: table.recordsTotal }">
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <img class="border-yellow-700 bordered " src="/assets/images/covers/0.jpg" alt="Avatar" />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">{{user.name}} {{user.surname}}</div>
                        <div class="font-bold text-sm"><span class="text-red-300" *ngIf="user.disabled">Désactivé</span><span class="text-green-300" *ngIf="!user.disabled">Activé</span></div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="badge badge-neutral" *ngFor="let role of user.roles">{{role}}</div>
                  </td>
                  <td>Purple</td>
                  <th>
                    <button class="btn btn-ghost btn-xs">details</button>
                  </th>
                </tr>
              </tbody>              
            </table>
            <pagination-controls (pageChange)="PageChange($event)"></pagination-controls>
          </div>
      </div>
    </div>
  </div>