<div *ngIf="trendings.length != 0">
    <div class="p-3 flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row ">
        <div class=" bg-transparent card sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2  2xl:w-1/2 p-4 bg-base-100 shadow-xl image-full" *ngFor="let anime of trendings">
            <figure ><img src="https://drive.google.com/uc?export=view&id={{anime.cover}}" /></figure>
            <div class="card-body flex flex-col-reverse">
                <div class=" ">
                    <h2 class="card-title text-3xl">{{anime.title}}</h2>
                    <p>Rating {{anime.rating}}</p>
                    <p>Autumn 2023</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-warning  rounded-none" (click)="OnClickWatchButton(anime)">Watch Now</button>
                        <button *ngIf="!anime.favourite && !favoutiteLoading" class="btn rounded-none" (click)="addToList(anime)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                        </button>
                        <button *ngIf="anime.favourite && !favoutiteLoading" class="btn btn-warning rounded-none text-white" (click)="removeToList(anime)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>                              
                        </button>

                        <button *ngIf="favoutiteLoading"  class="btn  rounded-none text-warning bg-gray-200">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>                            
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>