/* Add any custom styles here */
.today {
    background-color: #fde5e5;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  
  .event {
    background-color: #e5f1ff;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  